*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #1b1d21;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.pomodoro {
  padding: 1.4%;
  border: 0.5px solid #555a61;
  background: #25282e;
  display: flex;
  flex-direction: column;
  border-radius: 1.7rem;
  width: 42rem;
  height: 60rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  display: flex;
  margin-left: 1rem;
  margin-top: 9.3%;

}

header img {
  margin-bottom: 1.7rem;
  margin-right: 1.3rem;
}

.header h1 {
  margin-top: 0.6rem;
  margin-right: 3.5rem;
  color: #a4a6aa;
  font-size: 3.7rem;
}

.info-display {
  margin-top: 6.5%;
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 2rem;
  color: #a4a6aa;
  text-align: center;
}

.clock-face {
  margin-top: 5.3%;
  color: tomato;
  font-size: 12rem;
}

.time-bar-container {
  display: flex;
  width: 83%;
}

.time-bar {
  align-self: flex-start;
  border-radius: 1rem;
  height: 0.5rem;
  width: 100%;
  background-color: rgb(157, 207, 83);
}

button {
  margin-top: 15%;
  color: #25282e;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 2rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: none;
  background: rgb(157, 207, 83);
  cursor: default;
}

button:active {
  width: 7.9rem;
  height: 7.9rem;
  font-size: 1.95rem;
  margin-bottom: 0.1rem;
}

button:disabled {
  pointer-events: none;
}

#try-again {
  display: none;
  font-size: 1.89rem;
  background: #a4a6aa;
}

#close {
  display: none;
  font-size: 3.7rem;
  padding-bottom: 0.5rem;
  background: #a4a6aa;
}

.game-score {
  color: #a4a6aa;
  margin-left: 4.3rem;
  margin-top: 9%;
  display: flex;
  align-self: flex-start;
}

.score-tomato {
  width: 1.6rem;
  margin-right: 0.6rem;
  margin-bottom: 4rem;
}

.array-tomato {
  width: 2rem;
  height: 2rem;
  margin: 0.1rem;
}

.total-score {
  display: flex;
  margin-top: 12%;
  width: 9rem;
  font-size: 1.5rem;
}

.pomodoro-array {
  margin-left: 0.8rem;
  width: 12rem;
  font-size: 2rem;
}

@media screen and (max-width:420px) {
  .pomodoro {
    width: 99.5%;
    height: 99.5%;
  }
}

@media screen and (max-width: 420px) and (max-height: 920px){
  .header {
    margin-top: 23%;
  }
  .info-display {
    margin-top: 16%;
    font-size: 2rem;
  }
  .header h1 {
    font-size: 4rem;
  }
  .clock-face {
    font-size: 13rem;
    margin-top: 16%;
  }
  .time-bar-container {
    width: 85%;
  }
  button {
    margin-top: 27%;
  }
  .game-score {
    margin-top: 22%;
  }
}

@media screen and (max-width: 390px) and (max-height: 850px){
  .header {
    margin-top: 20%;
  }
  .clock-face {
    font-size: 12.5rem;
    margin-top: 16%;
  }
}

@media screen and (max-width: 420px) and (max-height: 900px){
  .header {
    margin-top: 18%;
  }
  .clock-face {
    font-size: 14rem;
    margin-top: 16%;
  }
  .info-display {
    margin-top: 18%;
  }
  .header h1 {
    font-size: 4rem;
  }
  .clock-face {
    font-size: 13rem;
    margin-top: 17%;
  }
  .game-score {
    margin-top: 24%;
  }
}

@media screen and (max-width: 420px) and (max-height: 900px){
  .header {
    margin-top: 18%;
  }
  .clock-face {
    font-size: 14rem;
    margin-top: 16%;
  }
  .info-display {
    margin-top: 18%;
  }
  .header h1 {
    font-size: 4rem;
  }
  .clock-face {
    font-size: 13rem;
    margin-top: 17%;
  }
  .game-score {
    margin-top: 24%;
  }
}

@media screen and (max-width: 420px) and (max-height: 740px){
  .header {
    margin-top: 14%;
  }
  .info-display {
    margin-top: 10%;
    font-size: 1.7rem;
  }
  .clock-face {
    font-size: 13.2rem;
    margin-top: 9%;
  }
  button {
    margin-top: 19%;
  }
  .game-score {
    margin-top: 18%;
  }
}

@media screen and (max-width: 370px) and (max-height: 750px){
  .header {
    margin-top: 18%;
  }
  .info-display {
    margin-top: 13%;
    font-size: 1.7rem;
  }
  .clock-face {
    font-size: 12rem;
    margin-top: 10%;
  }
  button {
    margin-top: 22%;
  }
  .game-score {
    margin-top: 20%;
  }
}

@media screen and (max-width: 375px) and (max-height: 670px){
  .header {
    margin-top: 12%;
  }
  .info-display {
    margin-top: 10%;
    font-size: 1.7rem;
  }
  .clock-face {
    font-size: 11.9rem;
    margin-top: 9%;
  }
  button {
    margin-top: 17%;
  }
  .game-score {
    margin-top: 14%;
  }
}

@media screen and (max-width: 320px) and (max-height: 660px){
  .header {
    margin-top: 15%;
    margin-left: 1rem;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .info-display {
    margin-top: 15%;
    font-size: 1.7rem;
  }
  .clock-face {
    font-size: 11rem;
    margin-top: 12%;
  }
  button {
    margin-top: 23%;
  }
  .game-score {
    margin-top: 17%;
  }
}

